
# for adding new packages, add a locked version here and then run `uv pip install -r requirements.txt`
python-dotenv==1.0.0

# Streamlit release notes: https://docs.streamlit.io/develop/quick-reference/release-notes
streamlit==1.42.0
pandas==2.2.3  # for data manipulation and Streamlit tables

# Authentication
authlib>=1.3.2  # required for Streamlit authentication
toml==0.10.2  # for secrets.toml file handling

fitz
pytesseract
